<div class="container mt-3">
    <h2>Welcome back {{token?.data?.username}}</h2>
    <br>
    <p class="badge bg-success" *ngIf="successMessage != null">{{successMessage}}</p>
    <br>
    <p class="badge bg-danger" *ngIf="errorMessage != null">{{errorMessage}}</p>

    <table class="table table-bordered">
        <h4 class="badge bg-danger" *ngIf="IsDeleting">Deleting message...</h4>

        <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts, let i = index, trackBy: trackByFn">

                <td>{{i+1}}</td>
                <td>{{contact?.name}}</td>
                <td>{{contact?.email}}</td>
                <td>{{contact?.subject}}</td>
                <td>{{contact?.message}}</td>
                <td class="flex-column d-flex">
                    <hms-reply-message [userEmail]="contactUserEmail" (click)="passEmail(i)" />

                    <hms-delete-user [userEmail]="contactUserEmail" (click)="passEmail(i)" />
                </td>

            </tr>

        </tbody>
    </table>
    <mat-paginator [length]="100" [pageSize]="limit" [pageSizeOptions]="[10, 25, 100]" (page)="pageChanged($event)">
    </mat-paginator>
    <br>
    <br>
    <p class="badge bg-info" *ngIf="infoMessage != null">{{infoMessage}}</p>
    <br>
</div>
<div *ngIf="IsFetching" id="preloader"></div>