<br>
<br>
<br>
<div class="container  mt-3">
    <h2>Welcome back {{token.data.username}}</h2>
    <p class="badge bg-success" *ngIf="successMessage != null">{{successMessage}}</p>
    <p class="badge bg-danger" *ngIf="errorMessage != null">{{errorMessage}}</p>

    <table class="table table-bordered">
        <h4 class="badge bg-danger" *ngIf="IsDeleting">Deleting...</h4>

        <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts, let i = index">

                <td>{{i+1}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.subject}}</td>
                <td>{{contact.message}}</td>
                <a class="btn btn-primary bg-primary text-white" href="https://hostinger.titan.email/mail/"
                    target="_blank" (click)="copyText(contact.email)">Respond
                </a>

                <button (click)="deleteContact(contact._id!)" class="btn btn-danger bg-danger text-white">Delete
                </button>
            </tr>

        </tbody>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>

</div>
<br>
<br>
<div *ngIf="IsFetching" id="preloader"></div>