<!-- Button to Open the Modal -->
<button type="button" class="mb-3 mr-4 btn btn-danger text-white" data-bs-toggle="modal"
    data-bs-target="#DELETE_USER_MODAL">
    Delete
</button>

<!-- The Modal -->
<div class="modal" id="DELETE_USER_MODAL">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete message from {{userEmail}} </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h2>Confirmation Required</h2>
                <p> Are you sure to delete {{userEmail}} message. By clicking delete button bellow, this message will be
                    deleted permanently</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger text-white">Delete User </button>
                <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>