<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Welcome to Medical Professional Corporation</h1>
        <h2>We are team of talented doctors trained to take good care of your health</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why Choose Medical Professional Corporation?</h3>
                        <p>
                            One of the primary benefits of Medical Professional Corporation is the provision of limited
                            liability protection for
                            the medical professional.
                            This means that their personal assets are protected in case the corporation faces legal or
                            financial issues.
                        </p>
                        <div class="text-center">
                            <a href="#about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Patient Care</h4>
                                    <p>At the core of any MPC is the provision of medical care. This includes
                                        consultation, diagnosis, treatment, and follow-up
                                        care for patients.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Specialist Referrals</h4>
                                    <p>If a patient's condition requires specialized attention, MPCs coordinate and
                                        manage referrals to appropriate
                                        specialists.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Health Promotion and Education</h4>
                                    <p>MPCs often provide education about various health conditions, preventive
                                        measures, and lifestyle modifications to
                                        improve patient health and wellbeing.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">

            <div class="row">
                <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" ></a> -->
                <iframe
                    class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative"
                    width="727" height="409" src="https://www.youtube.com/embed/mUzq_h1GCXE"
                    title="One Health Hack From Every Type Of Doctor" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <div
                    class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3> Who we are and our values in the society</h3>
                    <p>327 Medical Prof Corp is a Medical Group that has only one practice medical office located in
                        Salida CO. There are 6
                        health care providers, specializing in Family Practice, Obstetrics/Gynecology, Sports Medicine,
                        Nurse Practitioner,
                        Physician Assistant, being reported as members of the medical group. Medical taxonomies which
                        are covered by 327 Medical
                        Prof Corp include Physician Assistant, Family Medicine, Family.</p>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Unic Treatment</a></h4>
                        <p class="description">Our patience undergoes series of diagnosis to identify the illness and
                            king of medicine that will work well for the patience.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Facilities</a></h4>
                        <p class="description">We have various health care and medical facilities to help in automated
                            and fast treatment.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">Medical Research</a></h4>
                        <p class="description">We conduct intensive medical research to help us deliver exceptionally
                            and professionally</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="fas fa-user-md"></i>
                        <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                            class="purecounter">6</span>
                        <p>Doctors</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="far fa-hospital"></i>
                        <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"
                            class="purecounter">3</span>
                        <p>Departments</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-flask"></i>
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                            class="purecounter">12</span>
                        <p>Research Labs</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"
                            class="purecounter">20</span>
                        <p>Awards</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>provides a broad spectrum of services, primarily focused on healthcare delivery.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fa-solid fa-hand-holding-medical"></i></div>
                        <h4><a href="">General Health Care</a></h4>
                        <p>We provide general health care designed to be the most patient-centric, focusing on the
                            broader health needs of individuals and communities and
                            ensuring everyone has access to basic medical services.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fa-solid fa-person-pregnant"></i></div>
                        <h4><a href="">Obstetrics/Gynecology (OB/GYN)</a></h4>
                        <p>We provide services for both obstetrics and gynecology, enabling us to provide comprehensive
                            care for women at all
                            stages of life—from adolescence, through childbearing years, to post-menopause.</p>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fa-solid fa-dumbbell"></i></div>
                        <h4><a href="">Sports Medicine</a></h4>
                        <p>We address issues like sprains, fractures, tendonitis, and overuse injuries, as well as
                            provide guidance on nutrition,
                            strength training, and conditioning to enhance athletic performance.
                            i.e We provide treatment, prevention, diagnosis, and rehabilitation of injuries and medical
                            conditions related to physical activity,
                            exercise, and sports</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->


    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
        <div class="container">

            <div class="section-title">
                <h2>Departments</h2>
                <p>Our department provide various medical services for patients which are listed below.</p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">General Health Care</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Obstetrics/Gynecology (OB/GYN)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Sports Medicine</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>General Health Care</h3>
                                    <p>General healthcare, often referred to as primary healthcare,
                                        encompasses a broad range of essential health services
                                        provided to individuals and communities to ensure their overall well-being,
                                        prevent illness, and address basic health
                                        needs. The aim of general healthcare is to provide comprehensive, accessible,
                                        community-based care that meets the health
                                        needs of individuals throughout their life.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Obstetrics/Gynecology</h3>
                                    <p>Often, you'll hear the term "obstetrics and gynecology" (often abbreviated as
                                        OB/GYN) used together. While obstetrics
                                        specifically deals with pregnancy and childbirth, gynecology focuses on the
                                        broader health of the female reproductive
                                        system, from menstruation to menopause, and includes both medical and surgical
                                        care. Many physicians train in both
                                        specialties, allowing them to provide comprehensive care to women throughout
                                        their lives.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="../../../assets/img/gynocology.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Sports Medicine</h3>
                                    <p>Sports Medicine refers to a branch of medicine that deals with the prevention,
                                        diagnosis, treatment, and
                                        rehabilitation of injuries and medical conditions related to physical activity,
                                        exercise, and sports. It also focuses on
                                        improving athletes' performance and ensuring a safe participation in sports.
                                        Professionals in this field can be doctors,
                                        physical therapists, athletic trainers, and other healthcare providers who work
                                        with athletes and active individuals.
                                        They address issues like sprains, fractures, tendonitis, and overuse injuries,
                                        as well as provide guidance on nutrition,
                                        strength training, and conditioning to enhance athletic performance.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="../../../assets/img/sports_medicine.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Departments Section -->

    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
        <div class="container">

            <div class="section-title">
                <h2>Doctors & Health Care Providers</h2>
                <p>Our experienced and certified health care providers</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <!-- <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div> -->
                        <div class="member-info">
                            <h4>Amy Caroline Beauprez</h4>
                            <span>Allopathic & Osteopathic Physicians/Family Medicine</span>
                            <p>Dr. Amy Caroline Beauprez is a Family Practice Specialist in Salida, Colorado. She
                                graduated with honors from University
                                Of Colorado School Of Medicine, Denver in 2018. Having more than 5 years of diverse
                                experiences, especially in FAMILY
                                PRACTICE, Dr. Amy Caroline Beauprez affiliates with Heart Of The Rockies Regional
                                Medical Center, cooperates with many
                                other doctors and specialists in medical group 327 Medical Prof Corp. Call Dr. Amy
                                Caroline Beauprez on phone number
                                <a href="tel:7195302022">(719) 530-2022</a> for more information and advice or to book
                                an appointment.
                            </p>
                            <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start">
                        <!-- <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div> -->
                        <div class="member-info">
                            <h4>Daniel David Lombardo</h4>
                            <span>Allopathic & Osteopathic Physicians/Family Medicine</span>
                            <p>Dr. Daniel David Lombardo is a Family Practice Specialist in Salida, Colorado. He
                                graduated with honors from University
                                Of Florida College Of Medicine in 2012. Having more than 11 years of diverse
                                experiences, especially in FAMILY PRACTICE,
                                Dr. Daniel David Lombardo affiliates with Heart Of The Rockies Regional Medical Center,
                                cooperates with many other
                                doctors and specialists in medical group 327 Medical Prof Corp. Call Dr. Daniel David
                                Lombardo on phone number <a href="tel:7195396637">(719) 539-6637</a> for more
                                information and advice or to book an appointment.</p>
                            <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <!-- <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div> -->
                        <div class="member-info">
                            <h4>Jamie A Vollmerhausen</h4>
                            <span>Physician Assistants & Advanced Practice Nursing Providers/Physician Assistant</span>
                            <p>Jamie A Vollmerhausen is a Physician Assistant Specialist in Salida, Colorado. She
                                graduated with honors in 2016. Having
                                more than 7 years of diverse experiences, especially in PHYSICIAN ASSISTANT, Jamie A
                                Vollmerhausen affiliates with Heart
                                Of The Rockies Regional Medical Center, cooperates with many other doctors and
                                specialists in many medical groups
                                including Salida Hospital District, 327 Medical Prof Corp. Call Jamie A Vollmerhausen on
                                phone number <a href="tel:7195396637">(719) 539-6637</a> for
                                more information and advice or to book an appointment.</p>
                            <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <!-- <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div> -->
                        <div class="member-info">
                            <h4>Matthew Burkley</h4>
                            <span>Allopathic & Osteopathic Physicians/Family Medicine</span>
                            <p>Dr. Matthew Burkley is a Family Practice Specialist in Salida, Colorado. He graduated
                                with honors from University Of
                                Utah School Of Medicine in 1994. Having more than 29 years of diverse experiences,
                                especially in FAMILY PRACTICE,
                                OBSTETRICS/GYNECOLOGY, Dr. Matthew Burkley affiliates with Heart Of The Rockies Regional
                                Medical Center, cooperates with
                                many other doctors and specialists in medical group 327 Medical Prof Corp. Call Dr.
                                Matthew Burkley on phone number
                                <a href="tel:7195396637">(719) 539-6637</a> for more information and advice or to book
                                an appointment.
                            </p>
                            <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <!-- <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div> -->
                        <div class="member-info">
                            <h4>Matthew Burkley</h4>
                            <span>Allopathic & Osteopathic Physicians/Family Medicine</span>
                            <p>Dr. Matthew Burkley is a Family Practice Specialist in Salida, Colorado. He graduated
                                with honors from University Of
                                Utah School Of Medicine in 1994. Having more than 29 years of diverse experiences,
                                especially in FAMILY PRACTICE,
                                OBSTETRICS/GYNECOLOGY, Dr. Matthew Burkley affiliates with Heart Of The Rockies Regional
                                Medical Center, cooperates with
                                many other doctors and specialists in medical group 327 Medical Prof Corp. Call Dr.
                                Matthew Burkley on phone number
                                <a href="tel:7195396637">(719) 539-6637</a> for more information and advice or to book
                                an appointment.
                            </p>
                            <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <!-- <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div> -->
                        <div class="member-info">
                            <h4>Sarah Laing</h4>
                            <span>Nurse Practitioner/Family</span>
                            <p>Sarah Laing is a Nurse Practitioner Specialist in Salida, Colorado. She graduated with
                                honors in 2019. Having more than
                                4 years of diverse experiences, especially in NURSE PRACTITIONER, Sarah Laing affiliates
                                with Heart Of The Rockies
                                Regional Medical Center, cooperates with many other doctors and specialists in medical
                                group 327 Medical Prof Corp. Call
                                Sarah Laing on phone number <a href="tel:7195396637">(719) 539-6637</a> for more
                                information and advice or to book an appointment.

                            </p>
                            <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Doctors Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
                <p>Comprehensive Insights into Achieving and Maintaining Optimal Health: A Guided FAQ Compilation on
                    Diet, Exercise,
                    Lifestyle Choices, Stress Management, and Understanding Key Health Indicators</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                            data-bs-target="#faq-list-1">How can I maintain a healthy weight?<i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                A healthy diet is one that helps maintain or improve overall health. It provides the
                                body with essential nutrition:
                                fluid, adequate essential amino acids from protein, essential fatty acids, vitamins,
                                minerals, and adequate calories.
                                The requirements for a healthy diet can be met from a variety of plant-based and
                                animal-based foods. A healthy diet also
                                includes limiting intake of junk and processed foods, and foods high in sugar and
                                saturated fats.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-2" class="collapsed">How often should I exercise?
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                For most adults, the Department of Health and Human Services recommends at least 150
                                minutes of moderate aerobic
                                activity or 75 minutes of vigorous aerobic activity a week, or a combination of moderate
                                and vigorous activity. It's
                                best to spread this activity throughout the week. Strength training exercises for all
                                major muscle groups at least two
                                times a week are also recommended.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-3" class="collapsed">What are the risks of smoking and alcohol?
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>Smoking and excessive alcohol consumption can lead to various health problems. Smoking
                                primarily increases the risk of
                                lung cancer and other respiratory diseases, while alcohol abuse can lead to liver
                                disease, heart disease, and an
                                increased risk of accidents. Both can lead to addiction and other mental health
                                problems.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-4" class="collapsed">How can I manage stress? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Stress can be managed in various ways. This includes regular exercise, getting
                                sufficient sleep, eating a healthy diet,
                                taking time for relaxation and leisure activities, practicing mindfulness and
                                meditation, and talking about your
                                problems with friends, family, or a mental health professional.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-5" class="collapsed">What is a normal blood pressure range? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Normal blood pressure for adults is a systolic pressure below 120 mmHg and a diastolic
                                pressure below 80 mmHg. This is
                                often expressed as 120/80.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container">

            <div class="section-title">
                <h2>Gallery</h2>
                <p>Witness Excellence in Healthcare Delivery: A Comprehensive Photographic Journey through Our Advanced,
                    State-of-the-Art
                    Medical Equipment and Patient-centric Healthcare Facilities.</p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row g-0">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
                            <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
                            <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-3.jpg" class="galelry-lightbox">
                            <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
                            <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
                            <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-6.jpg" class="galelry-lightbox">
                            <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-7.jpg" class="galelry-lightbox">
                            <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-8.jpg" class="galelry-lightbox">
                            <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Gallery Section -->
</main><!-- End #main -->